<div class="home-container">

  <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" placeholder="Rechercher des restaurants ou des cuisines" />
  </div>



  <!-- Liste des restaurants -->
  <div class="restaurant-grid">
    <div class="restaurant-card" *ngFor="let r of restaurants">
      <img [src]="r.img" [alt]="r.name" routerLink="/form" />
      <h3>{{ r.name }}</h3>
      <p>{{ r.location }}</p>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Privacy Policy</a>
    </div>
      <div class="social-icons">
        <span><i class="fab fa-instagram">instagrame</i></span>
        <span><i class="fab fa-facebook"></i></span>
        <span><i class="fab fa-whatsapp"></i></span>
      </div>

    <p>©2024 OmaFood. Tous droits réservés.</p>
  </footer>
</div>
